@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Montserrat:wght@200&family=Space+Mono&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: row;
    flex-wrap: wrap;
    background: radial-gradient(circle at center, #ffffff , #9897aa)
}
.bar{
    display: flex;
    width: 90%;
    height: 100px;
    justify-content: space-between;
    align-content: center;
}
#status{
    display: flex;
    gap: 20px;
    width: 27%;
    /* justify-content: space-evenly; */
    align-items: center;
    /* padding: 10px; */
    /* text-decoration: none; */
    list-style-type: none;
}
.font{
    font-size: 2rem;
    font-family: 'Fjalla One', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Space Mono', monospace;
}
ul li a{
    text-decoration: none;
    color: rgb(114, 190, 79);
    opacity: 1;
}
ul li a:hover{
    cursor:pointer;
    opacity: 0.3;
    transform: scale(3); 
    color: blue;
}
.helloworld {
    text-align: center;
    font-size: 2vw;
    font-family: 'Montserrat', sans-serif;
    color: #121212;
    font-weight: 1000;
    /* -webkit-text-stroke: 5px black; */
}
.info{
    display: flex;
    justify-content: space-between;
    margin: 2%;
    height: auto;
}
.myself{
    display: flex;
    height: 140px;
    flex-direction:column;
    width: 33%;
    /* justify-content: ; */
    margin: 10%;
    text-align: left;
    overflow: none;
    font-size: 3vw;
    gap: 20px;
}
span{
    color: gold;
}
#resumelink{
    position: relative;
    text-decoration: none;
    border: 2px solid black;
    border-radius: 20px;
    width: 60%;
    text-align: center;
    font-size: 25px;
    color: white;
    background-color:#686dff;
    padding: 13px;
    transition: all 0.8s linear;
    left: 15px;
}
#resumelink:hover{
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    background-color:rgb(56, 109, 118);
    transform: scale(1.1);
}
 #container_1 {
    /* width: 400px;
    height: 400px; */
    /* background: radial-gradient(ellipse at center,  #3c67f3 0%,#2421e3 47%,#0ed14ca1 47%,#ffffff 47%,#ffffff 48%); */
        
         display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        overflow: hidden;
        border-radius: 50%;
        position: absolute;
        left: 65vw;
        top: 22vw;
} 
#container_2 {
    /* width: 400px;
    height: 400px; */
    /* background: radial-gradient(ellipse at center,  #3c67f3 0%,#2421e3 47%,#0ed14ca1 47%,#ffffff 47%,#ffffff 48%); */
        
         display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        overflow: hidden;
        border-radius: 50%;
        position: absolute;
        left: 65vw;
        top: 22vw;
} 
